:root {
    --main-bg-color: #292A40;
    --main-primary-color: #7672F2;
    --main-secondary-color:#858BF2;
    --main-highlight-color:#04BF9D; 
    --main-white-color:#F2F2F2;
  }
  body *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    background: rgb(41,42,64);
    background: linear-gradient(52deg, rgba(41,42,64,1) 0%, rgba(118,114,242,1) 90%, rgba(133,139,242,1) 100%);
  }